
<div class="row">
	<div ng-class="{'col-lg-4': !oculto, 'col-md-4': !oculto, 'col-sm-4': !oculto, 'hidden': oculto, 'fadeOutLeft': oculto}" class="left animated">
		<organismos otitle="'Organismos con procedimientos'" arbol="arbol" tipoelementos="'procedimiento/s'" attr="'numprocedimientos'" setseleccionado="goToJerarquia" seleccionado="seleccionado"></organismos>
	</div>
	<div ng-class="{'col-lg-8': !oculto, 'col-md-8': !oculto, 'col-sm-8': !oculto, 'col-lg-12': oculto}" class="right animated" id="detallesjerarquia">
		<div class="col-sm-12 clearfix" ng-show="seleccionado">
			<div class="pull-left hidden-print" ng-click="oculto=!oculto" style="cursor:ew-resize; margin-right:1em" title="Pulse para maximizar/restaurar esta vista">
				<div class="btn btn-default">
					<i class="fa fa-bars"></i>
				</div>
			</div>
			<div class="btn-group pull-right hidden-print">
				<button ng-class="{disabled: actualizando > 0}" class="btn btn-default" ng-click="descargarExcel()">
					<i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar excel
				</button>
				<a class="btn btn-default" role="button" href="/resumenorganica/{{seleccionado.id}}">
					<i class="fa fa-table" aria-hidden="true"></i> Ver resumen
				</a>
			</div>
			<h5 ng-class="{'fontlarge': oculto}">{{seleccionado.title}}</h5>
		</div>
		<div class="col-sm-12 clearfix" ng-show="seleccionado && procedimientos.length">
			<div class="panel panel-danger hidden-print">
				<div  class="panel-heading">
					<div class="col-sm-11">
						<div class="progress" title="Esta barra representa el número de procedimientos cumplimentados respecto a los totales. Un procedimiento se considera cumplimentado si contiene solicitudes en el año seleccionado.">
							<div role="progressbar" aria-valuenow="{{100*cumplimentados / count}}" aria-valuemin="0" aria-valuemax="100" style="width:{{100*cumplimentados / count}}%" class="progress-bar progress-bar-striped progress-bar-danger">
								{{(100 * cumplimentados / count)|number : 2 }}% ({{cumplimentados}} / {{count}})
							</div>
						</div>
					</div>
					<div class="col-sm-1">
						<button class="btn btn-default" ng-click="filtrosocultos=!filtrosocultos">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
					<div style="clear:both"></div>
				</div>
				<div ng-class="{'hidden': filtrosocultos}" class="panel-body">
					<form class="">
						<div ng-repeat="key in camposfiltros" class="form-group col-sm-12 col-md-12 col-lg-6">
							<label class="control-label col-md-3">
								{{key| translate}}:
							</label>
							<div class="col-md-9">
								<select ng-model="filtro[key]" ng-options="fa.value as fa.name for (ky,fa) in filtros[key]" class="form-control">
								</select>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-12 col-lg-6">
							<label class="control-label col-md-3">Filtro:</label>
							<div class="col-md-9">
								<input ng-model="filtrotxtprocedimiento.$" class="form-control"/>
							</div>
						</div>

						<div class="form-group col-sm-12 hidden" ng-repeat="(familia,etiquetas) in etiquetasPorTipo track by $index" >
							<label class="control-label col-sm-2">{{familia}}:</label>
							<div class="col-sm-10">
								<div ng-repeat="etiqueta in etiquetas track by $index" class="col-sm-3">
									<label class="control-label col-sm-12 text-left">
										<input type="checkbox" name="" id="et{{$index}}" value="{{etiqueta._id}}" />
										<span class="label label-danger" title="{{etiqueta.descripcion}}" >{{etiqueta._id}}</span>
									</label>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
			
		<div class="col-sm-12">
			<p ng-show="filtrotxtprocedimiento">{{filtrotxtprocedimiento.codigo}}</p>
			<div class="alert {{respuesta.clase}} hidden-print" ng-if="respuesta.mensaje" role="alert">{{respuesta.mensaje}}</div>
		</div>

		<div ng-show="procedimientosfiltrados.length > 0" class="table-responsive col-sm-12">
			<table class="table table-striped table-bordered table-hover" id="procedimientostable" ng-class="{'table-condensed': $root.condensed}">
				<thead>
					<tr>
						<th>Progreso</th>
						<th ng-class="{'danger':orderby==='codigo'}" ng-click="reverse=!reverse;orderby='codigo'">{{'codigo'|translate}}
							<span aria-hidden ng-show="orderby==='codigo'" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes': !reverse, 'glyphicon-sort-by-attributes-alt': reverse}"></span>
						</th>
						<th ng-class="{'danger':orderby=='denominacion' }" ng-click="reverse=!reverse;orderby='denominacion'">{{'denominacion'|translate}}
							<span aria-hidden ng-show="orderby==='denominacion'" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes': !reverse, 'glyphicon-sort-by-attributes-alt': reverse}"></span>
						</th>
						<th ng-class="{'danger':orderby=='cod_plaza' }" ng-click="reverse=!reverse;orderby='cod_plaza'">{{'cod_plaza'|translate}}
							<span aria-hidden ng-show="orderby==='cod_plaza'" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes': !reverse, 'glyphicon-sort-by-attributes-alt': reverse}"></span>
						</th>
						<th ng-class="{'danger':orderby=='ancestro' }" ng-click="reverse=!reverse;orderby='ancestro'">{{'A cargo de'|translate}}
							<span aria-hidden ng-show="orderby==='ancestro'" class="glyphicon" ng-class="{'glyphicon-sort-by-attributes': !reverse, 'glyphicon-sort-by-attributes-alt': reverse}"></span>
						</th>
						<th>Solicitudes {{$root.anualidad.substring(1,5)}}</th>
						<th>Solicitudes {{meses[mesanterior]}} {{$root.anualidad.substring(1,5)}}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="7">
							<strong>Procedimientos listados:</strong>
							{{currentPage * $root.itemsPerPage + 1}} -
							{{(currentPage + 1) * $root.itemsPerPage < procedimientosfiltrados.length ?(currentPage + 1) * $root.itemsPerPage : procedimientosfiltrados.length}} de
							{{procedimientosfiltrados.length}}
							<div class="pull-right hidden-print" style="margin-left: 2em">
								<select class="form-control input-sm" name="itemsPerPage" ng-model="$root.itemsPerPage" ng-options="a as a for a in $root.itemsPerPageOptions"></select>
							</div>
							<div class="btn-group pull-right hidden-print">
								<button ng-class="{disabled: actualizando > 0}" class="btn btn-default btn-xs" ng-click="descargarExcel()">
									<i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar excel
								</button>
								<a class="btn btn-default btn-xs" role="button" href="/resumenorganica/{{seleccionado.id}}" ng-if="seleccionado && seleccionado.id">
									<i class="fa fa-table" aria-hidden="true"></i> Ver resumen
								</a>
							</div>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-animate="'animate'" ng-repeat="proc in procedimientosfiltrados |filter:filtrotxtprocedimiento | orderBy : orderby : reverse | pagination : currentPage*$root.itemsPerPage | limitTo: $root.itemsPerPage">
						<td class="text-center"><span class="sparkline ng-cloak" data-value="{{proc.periodos[$root.anualidad].solicitados | json}}"></span></td>
						<th class="text-center">{{proc.codigo}}</th>
						<td><a href="/procedimiento/{{proc.codigo}}">{{proc.denominacion}}</a></td>
						<td class="text-center">{{proc.cod_plaza}}</td>
						<td class="text-center"><a href="/actividad/{{proc.ancestros[ 0 ].id}}">{{proc.ancestros.length==0 ? '' : proc.ancestros[ 0 ].nombrelargo}}</a></td>
						<td class="text-right">{{proc.periodos[$root.anualidad].totalsolicitudes}}</td>
						<td class="text-right">{{proc.periodos[$root.anualidad].solicitados[mesanterior]}}</td>
					</tr>
				</tbody>
			</table>

			<div class="col-md-12 text-center hidden-print" ng-if="pageCount() > 0">
				<div class="pagination-div">
					<ul class="pagination">
						<li ng-class="DisablePrevPage()">
							<span ng-click="prevPage()">Anteriores</span>
						</li>
						<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
							<span >{{n+1}}</span>
						</li>
						<li ng-class="DisableNextPage()">
							<span ng-click="nextPage()">Siguientes</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

