
<div ng-controller="ActividadCtrl" class="row">
	<div ng-class="{'col-lg-5': !oculto, 'hidden': oculto}" class="left animated">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Organismos
				</h3>
			</div>
			<div class="panel-body">			
				<input type="text" ng-model="texto.$" placeholder="Filtro" style="margin-bottom:1em" class="form-control"/>
				<ul ng-if="arbol.length" style="padding-left:0.6em">
					<li ng-repeat="element in arbol |filter:texto| filter:filtrojerarquia" ng-class="{'list-group-item-warning':element.id==seleccionado.id}">
						<p>
						<strong>
							[{{element.id}}] &nbsp;
						</strong>
						<span ng-click="setSeleccionado(element)" class="cursor"  title="Engloba {{element.numprocedimientos}} procedimientos">
							{{element.title}} 
						</span>
						<span class="badge pull-right">{{element.numprocedimientos}}</span>
						</p>
						<ul class="list-group" ng-if="element.nodes" style="clear:both">
							<li class="list-group-item" ng-repeat="elemen in element.nodes |filter:texto | filter:filtrojerarquia" ng-class="{'list-group-item-danger':elemen.id==seleccionado.id}">
							<p>
								<strong>
									[{{elemen.id}}] &nbsp;
								</strong>
								<span ng-click="setSeleccionado(elemen)" class="cursor" title="Engloba {{elemen.numprocedimientos}} procedimientos">
									{{elemen.title}} 
								</span>
								<span class="badge pull-right">{{elemen.numprocedimientos}}</span>
								</p>
								<ul ng-if="elemen.nodes" style="clear:both">
									<li ng-repeat="eleme in elemen.nodes |filter:texto |filter:filtrojerarquia"  ng-class="{'list-group-item-danger':eleme.id==seleccionado.id}" >
									<p>
										<strong>
											[{{eleme.id}}] &nbsp;
										</strong>
										<span ng-class="{'bg-danger':eleme.id==seleccionado.id }" ng-click="setSeleccionado(eleme)" class="cursor" title="Engloba {{eleme.numprocedimientos}} procedimientos">
											{{eleme.title}} 
										</span>
										<span class="badge pull-right">{{eleme.numprocedimientos}}</span>
										</p>
										<ul ng-if="eleme.nodes" style="clear:both">
											<li ng-repeat="elem in eleme.nodes |filter:texto |filter:filtrojerarquia">
											<p>
												<strong>
													[{{elem.id}}] &nbsp;
												</strong>
												<span ng-class="{'bg-danger':elem.id==seleccionado.id }" ng-click="setSeleccionado(elem)" class="cursor"  title="Engloba {{elem.numprocedimientos}} procedimientos">
													{{elem.title}} 
												</span>
												<span class="badge pull-right">{{elem.numprocedimientos}}</span>
												</p>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-class="{'col-lg-7': !oculto, 'col-lg-12': oculto}" class="right animated" id="detallesjerarquia">
		<div ng-click="oculto=!oculto">
			<span class="glyphicon glyphicon-fullscreen pull-right">
			</span>
			<h2>
				{{seleccionado.title}}
			</h2>
		</div>
		<div ng-if="procedimientos.length" class="panel panel-danger">
			<div ng-click="filtrosocultos=!filtrosocultos" class="panel-heading">
				<span ng-class="{&quot;glyphicon-collapse-down&quot;:!filtrosocultos,&quot;glyphicon-expand&quot;:filtrosocultos}" class="glyphicon pull-right">
				</span>
				<div class="progress">
					<div role="progressbar" aria-valuenow="{{100*cumplimentados / count}}" aria-valuemin="0" aria-valuemax="100" style="width:{{100*cumplimentados / count}}%" class="progress-bar progress-bar-striped progress-bar-danger">
						{{(100*cumplimentados / count).toFixed(2)}}% ({{cumplimentados}} / {{count}})
					</div>
				</div>
			</div>
			<div ng-class="{'hidden': filtrosocultos}" class="panel-body">
				<form class="form-horizontal">
					<div ng-repeat="key in camposfiltros" class="form-groupcol-sm-12">
						<label class="control-label col-md-3">
							{{key| translate}}:
						</label>
						<div class="col-md-9">
							<select ng-model="filtro[key]" ng-options="fa.value as fa.name for (ky,fa) in filtros[key]" class="form-control">
							</select>
						</div>
					</div>
					<div class="form-groupcol-sm-12">
						<label class="control-label col-md-3">Filtro:</label>
						<div class="col-md-9">
							<input ng-model="filtrotxtprocedimiento.$" class="form-control"/>
						</div>
					</div>

					<div class="form-group col-sm-12"  ng-repeat="(familia,etiquetas) in etiquetasPorTipo track by $index" >
						<label class="control-label col-sm-3">{{familia}}:</label>
						<div class="col-sm-9">
							<div ng-repeat="etiqueta in etiquetas track by $index" class="col-sm-6">
								<label class="control-label col-sm-3">
									<input type="checkbox" name="" id="et{{$index}}" value="{{etiqueta._id}}" >
								</label>
								<div class="col-sm-9">
									<label for="et{{$index}}"> <span class="label label-danger" title="{{etiqueta.descripcion}}" >{{etiqueta._id}}</span></label>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div>
			{{filtrotxtprocedimiento.codigo}}
		</div>
		<div ng-if="procedimientosfiltrados.length" class="table-responsive">
			<table class="table table-striped table-bordered table-condensed table-hover" id="procedimientostable">
				<thead>
					<tr>
						<th>Progreso</th>
						<th ng-class="{danger:orderby=='codigo' }" ng-click="reverse=!reverse;orderby='codigo'">{{'codigo'|translate}}</th>
						<th ng-class="{danger:orderby=='denominacion' }" ng-click="reverse=!reverse;orderby='denominacion'">{{'denominacion'|translate}}</th>
						<th ng-class="{danger:orderby=='cod_plaza' }" ng-click="reverse=!reverse;orderby='cod_plaza'">{{'cod_plaza'|translate}}</th>
						<th ng-class="{danger:orderby=='ancestro' }" ng-click="reverse=!reverse;orderby='ancestro'">{{'A cargo de'|translate}}</th>
						<th ng-class="{danger:orderby=='periodos[anualidad].totalsolicitudes' }" ng-click="reverse=!reverse;orderby='periodos[anualidad].totalsolicitudes'">Solicitudes {{anualidad.substring(1,5)}}</th>
						<th ng-class="{danger:orderby=='periodos[anualidad].solicitados[mesanterior]' }" ng-click="reverse=!reverse;orderby='periodos[anualidad].solicitados[mesanterior]'">Solicitudes {{meses[mesanterior]}}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="7">
							<strong>Nº de procedimientos listados:</strong>
							{{procedimientosfiltrados.length}}
							<span ng-click="$root.exportXLS('procedimientostable','procedimientos')" class="pull-right glyphicon glyphicon-floppy-disk"></span>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="proc in procedimientosfiltrados |filter:filtrotxtprocedimiento | orderBy : orderby : reverse | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage">
						<td class="text-center"><span class="sparkline">{{proc.periodos[anualidad].solicitados | json}}</span></td>
						<th class="text-center">{{proc.codigo}}</th>
						<td><a href="/procedimiento/{{proc.codigo}}">{{proc.denominacion}}</a></td>
						<td class="text-center">{{proc.cod_plaza}}</td>
						<td class="text-center"><a href="/actividad/{{proc.ancestros[ 0 ].id}}">{{proc.ancestros.length==0 ? '' : proc.ancestros[ 0 ].nombrelargo}}</a></td>
						<td class="text-right">{{proc.periodos[anualidad].totalsolicitudes}}</td>
						<td class="text-right">{{proc.periodos[anualidad].solicitados[mesanterior]}}</td>
					</tr>
				</tbody>
			</table>

			<div class="col-md-12 text-center" ng-If="pageCount()>0">
				<div class="pagination-div">
				 <ul class="pagination">
				  <li ng-class="DisablePrevPage()">
					  <span  ng-click="prevPage()">Anteriores</span>
				  </li>
				  <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
					  <span >{{n+1}}</span>
				  </li>
				  <li ng-class="DisableNextPage()">
					  <span ng-click="nextPage()">Siguientes</span>
				  </li>
				 </ul>
				</div>
			</div>
		</div>
	</div>
</div>

