
<div class="row">
	<div
		class="left hidden-print nga-default nga-slide-left col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<organismos otitle="'Organismos con cartas de compromisos'" arbol="arbol" tipoelementos="'carta de compromisos'" attr="'numcartas'" setseleccionado="goToJerarquia" seleccionado="seleccionado" filtro="filtro"></organismos>
	</div>
	<div class="right col-xs-12 col-lg-8 col-md-8 col-sm-8" id="detallesjerarquia">
		<h3>{{seleccionado.title}}</h3>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover col-lg-12"  ng-class="{'table-condensed': $root.condensed}">
				<thead>
					<tr>
						<th scope="col">Denominación</th>
						<th scope="col">Número de expediente</th>
						<th scope="col">Carta publicada</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="4">Número de registros mostrados: <strong>{{cartas.length}}</strong></td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="carta in cartas">
						<th><a href="/carta/{{carta.idjerarquia}}/{{carta._id}}">{{carta.denominacion}}</a></th>
						<td class="text-center">{{carta.expediente}}</td>
						<td class="text-center">
							<a href="{{carta.url}}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i>
						</a>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>