
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">

		<h3>{{cartaservicio.denominacion}}</h3>
		<div class="row">
			<div class="col-xs-2 text-right">
				<strong>Expediente:</strong>
			</div>
			<div class="col-xs-10 text-left">
				{{cartaservicio.expediente}}
			</div>
		</div>		
		<div class="row">
			<div class="col-xs-2 text-right">
				<strong>Enlace:</strong>
			</div>
			<div class="col-xs-10 text-left">
				{{cartaservicio.url}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 text-right"><strong>Entidad:</strong></div>
			<div class="col-xs-10 text-left">
				<ul>
					<li ng-repeat="o in jerarquia.ancestros | reverse">{{jerarquias[ o ].nombrelargo}}</li>
					<li><em>{{jerarquia.nombrelargo}}</em></li>
				</ul>
				{{cartaservicio.url}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h4>Objetivos</h4>
				<div class="row">
					<div class="col-xs-12 npb" ng-repeat="obj in objetivos">
						<div class="row">
							<div class="col-xs-1 text-right">{{obj.index}}</div>
							<div class="col-xs-2 text-right"><strong>Denominación:</strong></div>
							<div class="col-xs-9 text-left">{{obj.denominacion}}</div>
						</div>
						<div class="row">
							<div class="col-xs-3 text-right"><strong>Estado:</strong></div>
							<div class="col-xs-9 text-left">{{obj.estado}}</div>
						</div>
						<div class="row" style="border-bottom:solid thin black">
							<div class="col-xs-3 text-right"><strong>Fórmulas:</strong></div>				
							<div class="col-xs-9">
								<div class="col-xs-12 bordered" ng-repeat="f in obj.formulas">
									<div class"row">
										<div class="col-xs-3 text-right"><strong>Formula:</strong></div>
										<div class="col-xs-9">
											{{f.human}}
										</div>
									</div>
									<div class"row">
										<div class="col-xs-3 text-right"><strong>Meta:</strong></div>
										<div class="col-xs-9">
											{{f.meta}}
										</div>
									</div>
									<div class"row">
										<div class="col-xs-3 text-right"><strong>Indicadores:</strong></div>
										<div class="col-xs-9">
											<ul>
												<li ng-repeat="ind in f.indicadores">{{indicadores[ind].nombre}}
												</li>
											</ul>
										</div>
									</div>
									<div class="row" ng-if="f.intervalos.length > 0">
										<div class="col-xs-3 text-right"><strong>Intervalos:</strong></div>
										<div class="col-xs-9 text-center">
											<table class="col-xs-4 table table-bordered table-condesed" style="font-size:9px">
												<thead>
													<th scope="col">Mensaje</th>
													<th scope="col">Mín</th>
													<th scope="col">Máx</th>
												</thead>
												<tbody>
													<tr ng-repeat="i in f.intervalos">
														<th>{{i.mensaje}}</th>
														<td>{{i.min}}</td>
														<td>{{i.max}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<hr />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1 col-lg-1"><br /></div>
</div>

<style media="print">
body {
    padding-top: 10px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.bordered: {border: solid thin #ddd}
.npb {page-break-inside: avoid;}
</style>