
<div class="row">
	<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
		<div class="text-right">
			<a class="btn btn-default" href="#" ng-click="downloadDocx()" title="Descargar versi&oacute;n docx">
				<span class="glyphicon glyphicon-floppy-save"></span> Descargar informe en docx
			</a>
		</div>
		<h3>{{cartaservicio.denominacion}} - {{anualidad}}</h3>
		<h4>FUNCIONALIDAD NO OPERATIVA</h4>
		<h5>NO USE ESTE FORMULARIO</h5>

		<div class="row">
			<div class="col-xs-2 text-right">
				<strong>Expediente:</strong>
			</div>
			<div class="col-xs-10 text-left">
				{{cartaservicio.expediente}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 text-right">
				<strong>Enlace:</strong>
			</div>
			<div class="col-xs-10 text-left">
				{{cartaservicio.url}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 text-right"><strong>Entidad:</strong></div>
			<div class="col-xs-10 text-left">
				<ul>
					<li ng-repeat="o in jerarquia.ancestros | reverse">{{jerarquias[ o ].nombrelargo}}</li>
					<li><em>{{jerarquia.nombrelargo}}</em></li>
				</ul>
				<a href="{{cartaservicio.url}}" target="_blank">{{cartaservicio.url}}</a>
			</div>
		</div>
		<div class="row" style="margin-top:1em">
			<div class="col-xs-12">
				<form>
					<div class="form-group">
						<label class="modelo" for="modelo">Informe anual de evaluación de la Carta de Servicios: Basado en los datos de evaluación de la Carta de Servicios</label>
						<textarea class="form-control" style="width:100%; height:5em" ng-model="accion.modelo" id="modelo"></textarea>
					</div>

					<div class="form-group">
						<label class="enunciado" for="acciones">Acciones correspondientes al Plan de Mejora de la Cartas de Servicios código {{cartaservicio.expediente}}</label>
						<textarea class="form-control" style="width:100%; height:5em" ng-model="accion.acciones" id="acciones"></textarea>
					</div>


					<h3>ACCIONES PROGRAMADAS: (EN UN PLAN DE MEJORA DE LAS CARTAS DE SERVICIO)
					CORRESPONDE AL PLAN DE MEJORA DE LA CARTA CÓDIGO {{cartaservicio.expediente}}</h3>

					<div class="form-group">
						<label class="enunciado" for="descripcionplanmejora">Descripción del Plan de Mejora en el que se enmarca la acción</label>
						<textarea class="form-control" style="width:100%; height:5em" ng-model="accion.descripcionplanmejora" id="descripcionplanmejora"></textarea>
					</div>

					<div class="text-center" ng-hide="accion" style="margin-bottom:1em">
						<button class="btn btn-danger" ng-click="showAccion()">Añadir nueva acción</button>
					</div>

					<div class="mejora" ng-show="accion">
						<div class="form-group">
							<label class="enunciado" for="numero">Número</label>
							<input class="form-control" type="text" ng-model="accion.numero" id="numero" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="descripcion">Descripción de la acción</label>
							<input class="form-control" type="text" ng-model="accion.descripcion" id="descripcion" />
						</div>

						<div class="col-lg-6 col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Personal relacionado</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="enunciado" for="promotor">Promotor. La más alta autoridad responsable del tema que tiene interés y apoya la acción; puede ser considerada como el usuario final</label>
										<input class="form-control" type="text" ng-model="accion.promotor" id="promotor" />
									</div>
									<div class="form-group">
										<label class="enunciado" for="responsable">Responsable de la acción. La persona o unidad encargada de la acción.</label>
										<input class="form-control" type="text" ng-model="accion.responsable" id="responsable" />
									</div>
									<div class="form-group">
										<label class="enunciado" for="equipo">Equipo de la acción. Personas designadas para trabajar en la implantación de la acción; pueden pertenecer o no a la organización</label>
										<input class="form-control" type="text" ng-model="accion.equipo" id="equipo" />
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="enunciado" for="telefono">Teléfono de contacto</label>
											<input class="form-control" type="text" ng-model="accion.telefono" id="telefono" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="enunciado" for="email">e-mail</label>
											<input class="form-control" type="text" ng-model="accion.email" id="email" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Afecta a</h3>
								</div>
								<div class="panel-body">
									<p class="enunciado">Afecta a
										<div class="checkbox" ng-repeat="(i, r) in afectables">
											<label><input type="checkbox" ng-model="accion.afectables[i]"> {{r}}</label>
										</div>
									</p>
									<p><span class="enunciado">Alcance. ¿Afecta a toda la organización?</span>
										<ul style="list-style: none">
											<li><label>
												<input type="radio" name="afecta" ng-model="accion.afecta" ng-value="true" /> Sí
											</label></li>
											<li><label>
												<input type="radio" name="afecta" ng-model="accion.afecta" ng-value="false" /> No
											</label></li>
										</ul>
									</p>

									<div class="form-group">
										<label class="enunciado" for="codigos">Si afecta a uno o varios procedimientos poner código, separados por comas</label>
										<input class="form-control" type="text" ng-model="accion.codigos" id="codigos" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="enunciado" for="gruposinteres">Grupos de interés</label>
							<input class="form-control" type="text" ng-model="accion.gruposinteres" id="gruposinteres" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="fortalezas">Fortalezas, definidas en la evaluación</label>
							<input class="form-control" type="text" ng-model="accion.fortalezas" id="fortalezas" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="areasmejora">Áreas de mejora definidas en la evaluación</label>
							<input class="form-control" type="text" ng-model="accion.areasmejora" id="areasmejora" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="contexto">Contexto y áreas de mejora</label>
							<input class="form-control" type="text" ng-model="accion.contexto" id="contexto" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="alternativas">Alternativas a explorar</label>
							<input class="form-control" type="text" ng-model="accion.alternativas" id="alternativas" />
						</div>
						<div class="form-group">
							<label class="enunciado" for="resultadoesperado">Resultado esperado final (entregado)</label>
							<input class="form-control" type="text" ng-model="accion.resultadoesperado" id="resultadoesperado" />
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Requisitos</h3>
								</div>
								<div class="panel-body">
									<p class="enunciado">Restricciones
										<ul style="list-style: none">
											<li ng-repeat="(i, r) in restricciones">
												<label><input type="checkbox" ng-model="accion.restricciones[i]"> {{r}}</label>
											</li>
										</ul>
									</p>
									<div class="form-group">
										<label class="enunciado" for="rrhhdia">Recursos humanos necesarios (en persona/ día)</label>
										<input class="form-control" type="text" ng-model="accion.rrhhdia" id="rrhhdia" />
									</div>
									<div class="form-group">
										<label class="enunciado" for="presupuesto">Presupuesto</label>
										<input class="form-control" type="text" ng-model="accion.presupuesto" id="presupuesto" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Calendario</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="enunciado" for="fechainicio">Fecha de inicio</label>
										<input class="form-control" type="text" ng-model="accion.fechainicio" id="fechainicio" />
									</div>
									<p class="enunciado">Plazo estimado
										<div class="radio" ng-repeat="(i, r) in plazos">
											<label><input type="radio" name="plazo" ng-model="accion.plazo" ng-value="r"> {{r}}</label>
										</div>
									</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<style>
.enunciado { font-weight: bold }
</style>