
<div class="row">
	<div
		class="left hidden-print nga-default nga-slide-left col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-hide="oculto"
		>
		<organismos otitle="'Organismos con cartas de compromisos'" arbol="arbol" tipoelementos="'carta de compromisos'" attr="'numcartas'" setseleccionado="goToJerarquia" seleccionado="seleccionado" filtro="filtro"></organismos>
	</div>
	<div ng-class="{'col-lg-9': !oculto, 'col-md-8': !oculto, 'col-sm-8': !oculto, 'col-md-12': oculto}" class="right col-xs-12" id="detallesjerarquia">
		<div class="pull-left" ng-click="oculto=!oculto" style="cursor:ew-resize; margin-right:1em" ng-show="seleccionado" title="Pulse para maximizar/restaurar esta vista">
			<br />
			<div class="btn btn-default hidden-print">
				<i class="fa fa-bars"></i>
			</div>
		</div>
		<h2>{{seleccionado.title}}</h2>

		<div ng-if="cartasservicio.length" class="table-responsive">
			<p>
				<div class="btn-group hidden-print">
					<a class="btn btn-danger" ng-click="importarObjetivos()" ng-if="superuser && objetivos.$resolved && objetivos.length == 0">
						<span class="glyphicon glyphicon-download"></span>
					</a>
					<a class="btn btn-default" target="_blank" href="{{cartaservicioseleccionada.url}}" title="Ver informaci&oacute;n publicada"><span class="glyphicon glyphicon-info-sign"></span></a>
					<a class="btn btn-default" target="_blank" href="{{cartaservicioseleccionada.urlprintable}}" title="Ver versi&oacute;n imprimible"><span class="glyphicon glyphicon-print"></span></a>
					<a class="btn btn-default" target="_blank" href="/carta-informe/{{seleccionado.id}}/{{cartaservicioseleccionada._id}}/{{anualidad}}" title="Ver planes de mejora"><span class="glyphicon glyphicon-check"></span></a>
					<a class="btn btn-default" ng-click="mutexFormulas()" title="Ver f&oacute;rmulas"><span class="fa" ng-class="{'fa-toggle-on': showformulas, 'fa-toggle-off': !showformulas}"></span></a>
					<div class="btn-group">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{cartaservicioseleccionada.expediente}} {{cartaservicioseleccionada.denominacion}} <span class="caret" ng-if="cartasservicio.length > 1"></span>
						</button>
						<ul class="dropdown-menu" ng-if="cartasservicio.length > 1">
							<li ng-if="cartaservicioseleccionada._id != c._id" ng-repeat="c in cartasservicio"><a href="{{c.urledicion}}">{{c.expediente}} {{c.denominacion}}</a></li>
						</ul>
						<select ng-model="anualidad" class="btn btn-default" ng-change="refreshAnualidad(anualidad)" ng-options='o as o for o in anualidades'></select>
					</div>
				</div>
				<p class="visible-print-block">
					{{cartaservicioseleccionada.expediente}} {{cartaservicioseleccionada.denominacion}} - {{anualidad}}
				</p>
				<br style="clear:both" />
			</p>
			<table class="table table-bordered table-condensed table-hover" id="cartastable" style="width:100%">
				<thead>
					<tr>
						<th ng-class="{danger:orderby=='codigo' }" ng-click="reverse=!reverse;orderby='codigo'">{{'codigo'|translate}}</th>
						<th ng-class="{danger:orderby=='denominacion' }" ng-click="reverse=!reverse;orderby='denominacion'">{{'denominacion'|translate}}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="2">
							<strong>Nº de compromisos listados:</strong>
							{{objetivos.length}}
							<span ng-click="$root.exportXLS('cartastable','objetivos')" class="pull-right glyphicon glyphicon-floppy-disk hidden-print"></span>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="objetivo in objetivos" ng-style="{'background-color': getPastel(objetivo.index) }">
						<th class="text-center">
							<p>{{objetivo.index}}</p>
							<div class="btn-group-vertical" role="group">
								<a ng-If="!!$root.permisoscalculados.superuser" class="btn btn-default hidden-print" title="Editar" href="/objetivo/{{ objetivo._id}}">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
								<!--
								<button type="button" class="btn btn-default" title="Comentar">
									<span class="glyphicon glyphicon-comment" ng-class="claseComentarios(objetivo)" ng-click=""></span>
								</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-link"></span>
								</button>

-->							</div>
						</th>
						<td class="text-left">
							<div class="formuladetails">
							<p>{{objetivo.denominacion}}</p>
							<table class="table table-striped table-bordered table-condensed table-hover">
								<tbody>
									<tr ng-repeat="formula in objetivo.formulas track by $index">
										<td style="width:85%">
											<p><strong>{{formula.human}}</strong></p>
											<table class="table table-striped table-bordered table-condensed" style="width:100%">
												<thead>
													<tr>
														<th></th>
														<th class="text-center" ng-repeat="a in [0,1,2,3,4,5,6,7,8,9,10,11]">{{$root.inicialesmeses[a]}}</th>
														<th>{{anualidad}}</th>
													</tr>
												</thead>
												<tfoot>
													<tr ng-show="showformulas">
														<th colspan="{{1 + formula.valores[aanualidad].length}}"><p><strong>{{formula.computer}}</strong></p></th>
													</tr>
													<tr ng-if="formula.indicadores.length === 1 && indicadores[formula.indicadores[0] ].acumulador === 'sum' ">
														<th>Meta parcial</th>
														<td class="text-right" ng-repeat="(v,a) in indicadores[formula.indicadores[0] ].valores[aanualidad] track by $index">
															<span ng-hide="$last">
															{{ (formula.meta / 12) * ($index + 1) | number:($root.isInt((formula.meta / 12) * $index + 1) ? 0 : 2)}}
															</span>
														</td>
													</tr>
													<tr ng-if="formula.indicadores.length === 1 && indicadores[formula.indicadores[0] ].acumulador === 'sum' ">
														<th>Sumatorio parcial</th>
														<td ng-hide="$last" class="text-right" ng-repeat="(v,a) in indicadores[formula.indicadores[0] ].valores[aanualidad] track by $index" ng-attr-style="{{bgColorResultadoParcial(sumatorioParcial(indicadores[formula.indicadores[0] ].valores[aanualidad], $index), (formula.meta / 12) * ($index + 1), formula.meta, formula)}}">
															<span>
															{{ sumatorioParcial(indicadores[formula.indicadores[0] ].valores[aanualidad], $index) | number:($root.isInt( sumatorioParcial(indicadores[formula.indicadores[0] ].valores[aanualidad], $index) ) ? 0 : 2)}}
															</span>
														</td>
													</tr>
													<tr ng-if="formula.indicadores.length > 1 || indicadores[formula.indicadores[0] ].acumulador !== 'sum' ">
														<th>Cálculo</th>
														<td class="text-right" title="{{valor.formula | join:' '}}" ng-attr-style="{{bgColorResultado(valor.resultado, formula)}}" ng-repeat="valor in formula.valores[aanualidad] track by $index">{{valor.resultado | number:($root.isInt(valor.resultado) ? 0 : 2)  }}</td>
													</tr>
												</tfoot>
												<tbody>
													<tr ng-repeat-start="indicadorid in formula.indicadores track by $index" ng-click="setIndicadorSeleccionado(indicadorid)" ng-class="{'danger' : indicadorSeleccionado === indicadorid}">
														<td style="width:40%" class="menu-indicador">
															<div class="pull-right hidden-print">
																<a ng-If="!!$root.permisoscalculados.superuser" title="Editar" href="/indicador/{{idjerarquia}}/{{indicadorid}}"><i class="fa fa-pencil"></i></a>
																<!--<a title="Desvincular" href=""><i class="fa fa-unlink text-danger"></i></a>-->
																<span class="glyphicon glyphicon-comment" ng-click="indicadores[indicadorid].desplegado = !indicadores[indicadorid].desplegado" ng-class="{'color_note': existeComentario(indicadores[indicadorid].observaciones[aanualidad])}"></span>
															</div>
															{{indicadores[indicadorid].nombre}}
														</td>
														<td ng-repeat="(v,a) in indicadores[indicadorid].valores[aanualidad] track by $index" style="white-space:nowrap" class="text-center">
															<div ng-show="W_Indicador">
																<input ng-hide="$index == indicadores[indicadorid].valores[aanualidad].length - 1" ng-blur="updateIndicador(indicadorid)" type="text" style="width:3em; font-size:smaller; padding:1px; min-width:100%" class="text-right form-control" ng-model="indicadores[indicadorid].valores[aanualidad][v]" />
																<span ng-if="$index == indicadores[indicadorid].valores[aanualidad].length - 1">
																	<span ng-show="indicadores[indicadorid].acumulador === 'sum' ">∑</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'mean' ">x&#772;</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'min' ">&#8863;</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'max' ">&#8862;</span>
																	= {{ indicadores[indicadorid].valores[aanualidad][v] | number:($root.isInt(indicadores[indicadorid].valores[aanualidad][v]) ? 0 : 2)   }}
																</span>
															</div>
															<div class="text-right" ng-show="!W_Indicador && R_Indicador">
																<span ng-if="$index == indicadores[indicadorid].valores[aanualidad].length - 1">
																	<span ng-show="indicadores[indicadorid].acumulador === 'sum' ">∑</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'mean' ">x&#772;</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'min' ">&#8863;</span>
																	<span ng-show="indicadores[indicadorid].acumulador === 'max' ">&#8862;</span>
																	= {{ indicadores[indicadorid].valores[aanualidad][v] | number:($root.isInt(indicadores[indicadorid].valores[aanualidad][v]) ? 0 : 2)   }}
																</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat-end ng-show="indicadores[indicadorid].desplegado">
														<td colspan="14">
															<table class="table table-striped table-bordered table-condensed" style="width:100%">
																<tbody>
																	<tr ng-repeat="(v,a) in [0,1,2,3,4,5,6,7,8,9,10,11]">
																		<th style="width:20%;" class="text-right">{{$root.meses[a]}}</th>
																		<td><input ng-blur="updateIndicador(indicadorid)" ng-model="indicadores[indicadorid].observaciones[aanualidad][v]" type="text" class="form-control" style="width:90%" /></td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
													<tr ng-repeat="procedimiento in formula.procedimientos">
														<td>{{procedimientos[procedimiento.procedimiento].denominacion}} [{{procedimiento.campo | translate}}]</td>
														<td ng-repeat="(v,a) in procedimientos[procedimiento.procedimiento].periodos[aanualidad][procedimiento.campo] track by $index" style="white-space:nowrap" class="text-right">
															{{a}}
														</td>
														<td class="text-right">
															 {{ procedimientos[procedimiento.procedimiento].periodos[aanualidad][procedimiento.campo] | sum }}
														</td>
													</tr>
												</tbody>
											</table>
										</td>
										<td style="text-align:center">
											<div width="10em" major-graduations="{{formula.uppervalue < 5 ? formula.uppervalue + 1 : 5}}" ng-radial-gauge ranges="formula.intervalos" value="formula.gaugevalue[aanualidad]" value-unit="unit" precision="precision" lower-limit="0" upper-limit="formula.uppervalue"></div>
											<!--
											<canvas data-gauge-chart maxvalue="100" dato="gaugeChart[objetivo.i].data" value="gaugeChart[objetivo.i].data.val" data-options="gaugeChart[objetivo.i].options" style="width: 120px; height: 60px; " class=""></canvas>
											{{gaugeChart[objetivo.i].data.val}}
											Gauge:{{formula.gaugevalue[aanualidad]}}
											{{formula.uppervalue}} {{formula.intervalos|json}}
											-->
											<br />
											<br />
											<h4>{{ formula.valores[aanualidad][ formula.valores[aanualidad].length - 1 ].resultado | number:($root.isInt(formula.valores[aanualidad][ formula.valores[aanualidad].length - 1 ].resultado) ? 0 : 2)  }}</h4>
											<h4 style="color:red" ng-show="showformulas">{{formula.valor[aanualidad] | number:($root.isInt(formula.valor[aanualidad]) ? 0 : 2)  }}</h4>
											<h5>{{ formula.meta | number:($root.isInt(formula.valor[aanualidad]) ? 0 : 2) }}</h5>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
#cartastable tbody tr th .btn-group-vertical{display: none; }
#cartastable tbody tr:hover th .btn-group-vertical{display: block; }
#cartastable tbody tr th { vertical-align:middle; }
#cartastable tbody tr    { page-break-inside:avoid; page-break-after: auto; }
#cartastable tbody tr td div.formuladetails { page-break-inside:avoid; }
.menu-indicador a {display: none;}
.menu-indicador:hover a {display: inline;}
/* This is the key */

#cartastable tfoot tr td,
#cartastable tfoot tr th
{
	-webkit-print-color-adjust: exact;
}
</style>
