<div class="row">
	<div class="col-md-12">
		<div style="clear:both" class="table-responsive">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th scope="col">Carta</th>
						<th scope="col"></th>
						<th scope="col">Nº fórmulas</th>
						<th colspan="7" scope="col">Denominacion</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="compromiso in compromisos">
						<th><span class="small">{{compromiso.carta}}</span></th>
						<th class="text-right">{{compromiso.index}}</th>
						<td class="text-right">{{compromiso.formulas.length}}</td>
						<th colspan="7"><span class="small">{{compromiso.denominacion}}</span></th>
					</tr>
					<tr ng-repeat-start="formula in compromiso.formulas">
						<th colspan="8"><a href="/objetivo/{{compromiso._id}}" target="_blank">{{formula.human}}</a></th>
						<td>Frecuencia: <strong>{{formula.frecuencia}}</strong></td>
						<td>Meta: <strong>{{formula.meta}}</strong></td>
					</tr>
					<tr>
						<td class="text-center" colspan="2" ng-repeat="intervalo in formula.intervalos|orderBy:'min'" ng-style="{'background-color':intervalo.color}">{{intervalo.mensaje}}</td>
					</tr>
					<tr ng-repeat-end>
						<td class="text-right" ng-repeat-start="intervalo in formula.intervalos|orderBy:'min'" ng-style="{'background-color':intervalo.color}">{{intervalo.min}}</td>
						<td class="text-right" ng-repeat-end ng-style="{'background-color':intervalo.color}">{{intervalo.max}}</td>
					</tr>
					<tr ng-if="false" ng-repeat-end></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>