
<div class="row" >
	<div class="col-lg-12">
		<div ng-hide="resumenJerarquiaSeleccionada.periodos">
			<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
			<span class="sr-only">Cargando...</span>
		</div>
		<div ng-if="resumenJerarquiaSeleccionada.periodos" class="details" id="detalles" >
			<hr/>
			<h4 class="text-danger">{{jerarquiaSeleccionada.nombre}}</h4>
			<ol class="breadcrumb" id="breadcrumb">
				<li ng-repeat="ancestro in getAncestros(jerarquiaSeleccionada)">
					<a href="/actividad/{{ancestro.id}}">{{ancestro.nombrelargo}}</a>
				</li>
				<li class="active">{{jerarquiaSeleccionada.nombre}}</li>               
			</ol>
			<div class="col-lg-12">
				<ul ng-if="jerarquiaSeleccionada">
					<li ng-repeat="attr in attrspar" >
						<strong>{{attr| translate}}</strong>
						<span>&nbsp;</span>
						<span >{{jerarquiaSeleccionada[attr]!=null ?jerarquiaSeleccionada[attr]  : '-' }}</span>
					</li>
				</ul>
				<br />
				<button ng-class="{disabled: actualizando > 0}" class="btn btn-default btn-sm" ng-click="descargarExcel()">
					<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Descargar excel
				</button>
				<p ng-if="actualizando > 0">
					<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
					<span class="sr-only">Generando informe...</span>
				</p>
				<br/><br/>
			</div>

			<div style="clear:both; margin-top:2em" class="table-responsive" ng-if="resumenJerarquiaSeleccionada">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-right">{{$root.getIntAnualidad()}}</th>
							<th ng-repeat="mes in meses">{{mes}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="attr in attrstabla"> 
							<th>{{attr| translate}}
							<div class="pull-right">
								<span class="sparkline ng-cloak" data-value="{{resumenJerarquiaSeleccionada.periodos[$root.anualidad][attr] | json}}"></span>
							</div>
							</th>
							<td ng-repeat="val in resumenJerarquiaSeleccionada.periodos[$root.anualidad][attr] track by $index" class="numberCell">
								<span>{{resumenJerarquiaSeleccionada.periodos[$root.anualidad][attr][$index] || 0  |numberFormat}}</span>
							</td>
						</tr>                       
					</tbody>
					<tfooter>
						<tr>
							<th></th>
							<th ng-repeat="mes in meses">{{mes}}</th>
						</tr>
					</tfooter>
				</table>
				<br/>
				<ul>
					<li>
						<strong>{{"total_resueltos"|translate}}</strong> =
						<em>{{"resueltos_1"|translate}}</em> + <em>{{"resueltos_5"|translate}}</em> + 
						<em>{{"resueltos_10"|translate}}</em> + <em>{{"resueltos_15"|translate}}</em> + 
						<em>{{"resueltos_30"|translate}}</em> + <em>{{"resueltos_45"|translate}}</em> + 
						<em>{{"resueltos_mas_45"|translate}}</em> + <em>{{"resueltos_desistimiento_renuncia_caducidad"|translate}}</em> + 
						<em>{{"resueltos_prescripcion"|translate}}</em> 
					</li>
					<li>
						<strong>{{"fuera_plazo"|translate}}</strong> =
						<em>{{"total_resueltos"|translate}}</em> - <em>{{"en_plazo"|translate}}</em>  
					</li>
					<li>
						<strong>{{"pendientes"|translate}}</strong> =
						<em>Pendientes del mes previo</em> + <em>{{'solicitados'|translate}}</em> - <em>{{'total_resueltos'|translate}}</em>
					</li>
				</ul>
			</div>
			<div ng-if="graphs[0].data" class="row">
				<div class="col-md-12">
					<div class="btn-group pull-right">
						<div ng-click="graficasgrandes = !graficasgrandes; updateGraphKeys($root.anualidad.replace('a',''))" class="btn btn-default">
							<span ng-class="{'glyphicon-resize-full':!graficasgrandes,'glyphicon-resize-small':graficasgrandes}" class="glyphicon"></span>
						</div>
						<div ng-click="graficasbarras = !graficasbarras; updateGraphKeys($root.anualidad.replace('a',''));" ng-class="{active:graficasbarras, 'btn-default':!graficabarras}" class="btn">
							<span class="glyphicon glyphicon-stats"></span>
						</div>
					</div>
				</div>

				<hr style="clear:both"/>

				<div ng-repeat="graph in graphs" ng-if="graph.data" ng-show="!graficasbarras && graph.data && !graficasgrandes" ng-class="{'col-lg-3':(numgraphs % 4 == 0),'col-lg-3':(numgraphs % 3 == 0)}" class="col-md-12 well">
					<h5 class="text-danger text-center">{{graph.caption}}</h5>
					<nvd3-line-chart noData="No hay datos que mostrar" data="graph.data" showXAxis="true" showYAxis="true" showLegend="true" interactive="true" height="350" xAxisTickValues="xAxisTickValuesFunction()" xAxisTickFormat="xAxisTickFormatFunction()" rotateLabels="45" forcey="graph.forcey">
						<svg></svg>
					</nvd3-line-chart>
				</div>
				<div ng-repeat="graph in graphs" ng-if="graph.data" ng-show="graficasbarras && graph.data && !graficasgrandes" ng-class="{'col-lg-3':(numgraphs % 4 == 0),'col-lg-3':(numgraphs % 3 == 0)}" class="col-md-12 well">
					<h5 class="text-danger text-center">{{graph.caption}}</h5>
					<nvd3-multi-bar-chart noData="No hay datos que mostrar" data="graph.data" showXAxis="true" showYAxis="true" showLegend="true" interactive="true" height="350" xAxisTickValues="xAxisTickValuesFunction()" xAxisTickFormat="xAxisTickFormatFunction()" rotateLabels="45" forcey="graph.forcey" >
						<svg></svg>
					</nvd3-multi-bar-chart>
				</div>				
				<div ng-repeat="graph in graphs" ng-if="graph.data" ng-show="!graficasbarras && graph.data && graficasgrandes" style="clear:both" class="col-lg-12 well">
					<h5 class="text-danger text-center">{{graph.caption}}</h5>
					<nvd3-line-chart previous="nvd3-multi-bar-chart" noData="No hay datos que mostrar" data="graph.data" showXAxis="true" showYAxis="true" showLegend="true" interactive="true" height="350" xAxisTickValues="xAxisTickValuesFunction()" xAxisTickFormat="xAxisTickFormatFunction()" rotateLabels="45" forcey="graph.forcey">
						<svg>
						</svg>
					</nvd3-line-chart>
				</div>
				<div ng-repeat="graph in graphs" ng-if="graph.data" ng-show="graficasbarras && graph.data && graficasgrandes" style="clear:both" class="col-lg-12 well">
					<h5 class="text-danger text-center">{{graph.caption}}</h5>
					<nvd3-multi-bar-chart previous="nvd3-multi-bar-chart" noData="No hay datos que mostrar" data="graph.data" showXAxis="true" showYAxis="true" showLegend="true" interactive="true" height="350" xAxisTickValues="xAxisTickValuesFunction()" xAxisTickFormat="xAxisTickFormatFunction()" rotateLabels="45" forcey="graph.forcey">
						<svg>
						</svg>
					</nvd3-multi-bar-chart>
				</div>
			</div>
			<hr/>
			<h5 class="text-danger" ng-If="resumenJerarquiaSeleccionada.periodos[$root.anualidad].Incidencias">Incidencias</h5>
			<div class="table-resposive" ng-If="resumenJerarquiaSeleccionada.periodos[$root.anualidad].Incidencias">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th></th>
							<th ng-repeat="mes in meses">{{mes}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(incidencia,valores) in resumenJerarquiaSeleccionada.periodos[$root.anualidad].Incidencias"> 
							<th>{{incidencia}}</th>
							<td ng-repeat="val in valores track by $index" ng-class="{'text-danger': val }" class="numberCell">{{val}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
<hr class="clear"/>