<div class="row" style="clear:both; margin-top:2em" >
	<div class="col-lg-12">
		<div style="clear:both" class="table-responsive">
			<h3>Entidades objeto</h3>
			<div class="hidden-print col-sm-12 text-center">
				<span class="btn btn-primary" ng-click="newCarta()">Registar una nueva carta de compromisos</span>
				<span class="btn btn-primary" ng-click="downloadxls()">Descargar listado indicadores</span>
			</div>
			<table class="table table-striped table-hover hidden-print" ng-show="$root.permisoscalculados.superuser">
				<caption>
					<div class="col-md-12">
						<div class="col-md-4">
						</div>
						<div class="col-md-4 text-center">
							<h4>Entidades objeto</h4>
						</div>
						<div class="col-md-2">
							<select class="form-control" ng-model="anualidad" ng-options="an as an.label for an in anualidades" />
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" placeholder="Filtro..." ng-model="filtro" />
						</div>
					</div>
				</caption>
				<thead>
					<tr>
						<th>ID</th>
						<th ng-If="clave!='_id'" ng-repeat="(clave, valor) in entidades[0]">{{clave}}</th>
						<th>Compromisos</th>
						<th>Fórmulas</th>
						<th>Indicadores<br />{{anualidad.label}}</th>
						<th>Planes de mejora<br />{{anualidad.label}}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td class="text-center" colspan="{{(entidades[0] | keylength) + 3 }}">Nº de registros mostrados: <strong>{{entidades.length}}</strong></td>
					</tr>
				</tfoot>
				<tbody ng-repeat="entidadobjeto in entidades | orderBy:'denominacion' | filter:filtro">
					<tr ng-class="{'danger': getCount(entidadobjeto._id) === 0 }">
						<th>{{entidadobjeto._id}}<br />
							{{entidadobjeto.denominacion}}
							<br /><hr />
							{{ jerarquias['' + entidadobjeto.idjerarquia].nombrelargo }}
							<hr />
							<p class="text-center">
								<a href="/carta/{{entidadobjeto.idjerarquia}}" class="btn btn-default btn-xs" target="_blank" title="Ver entidad objeto">
									<span class="fa fa-eye"></span>
								</a>
								<a href="/indicador/{{entidadobjeto.idjerarquia}}" class="btn btn-default btn-xs" target="_blank" title="Ver indicadores">
									<i class="fa fa-tasks" aria-hidden="true"></i>
								</a>
								<a class="btn btn-default btn-xs" target="_blank" href="/carta-printable/{{entidadobjeto.idjerarquia}}/{{entidadobjeto._id}}" title="Ver versi&oacute;n imprimible">
									<span class="glyphicon glyphicon-print"></span>
								</a>
								<a href="{{entidadobjeto.url}}" class="btn btn-default btn-xs" target="_blank" title="Ir a su URL">
									<span class="fa fa-external-link"></span>
								</a>
								<span class="btn btn-primary btn-xs" ng-click="entidadobjeto.$editar = !entidadobjeto.$editar" title="Permitir edición">
									<span class="fa fa-pencil cursor"></span>
								</span>
								<span class="btn btn-primary btn-xs" ng-click="download(entidadobjeto)" title="Descargar">
									<span class="fa fa-arrow-down cursor"></span>
								</span>
								<span class="btn btn-danger btn-xs" ng-click="dropCarta(entidadobjeto)" title="Eliminar (CUIDADO)">
									<span class="fa fa-trash cursor"></span>
								</span>
							</p>
						</th>
						<td ng-If="clave!='_id'" ng-repeat="(clave, valor) in entidades[0]" style="overflow:auto; max-width:200px">
							<input ng-if="entidadobjeto.$editar" class="form-control" type="text" style="width:100%; font-size:smaller;" ng-model="entidadobjeto[clave]" ng-blur="actualizar(entidadobjeto, clave)" />
							<span ng-if="!entidadobjeto.$editar">{{entidadobjeto[clave].toString().split('&').join(' &') }}</span>
						</td>
						<td class="text-right">
							{{ objetivos[entidadobjeto._id] ? objetivos[entidadobjeto._id] : 0 }}
						</td>
						<td class="text-center">
							 {{formulas[entidadobjeto._id] ? formulas[entidadobjeto._id].formsok : 0}}/{{formulas[entidadobjeto._id] ? formulas[entidadobjeto._id].forms : 0}}
						</td>
						<td class="text-right">
							<a href="/indicador/{{entidadobjeto.idjerarquia}}" target="_blank">{{getIndicadoresStats(entidadobjeto.idjerarquia, anualidad.value)}}/{{indicadores[entidadobjeto.idjerarquia].length}}</a>
						</td>
						<td class="text-right">
							<a href="/carta-informe/{{entidadobjeto.idjerarquia}}/{{entidadobjeto._id}}/{{anualidad.label}}" title="{{acciones[anualidad.label][ entidadobjeto._id ] }} acciones de mejora en {{getPlanes(entidadobjeto, anualidad.label)}} planes" target="_blank">{{acciones[anualidad.label][ entidadobjeto._id ] }}</a>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="">
				<table class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Exp.</th>
							<th>Denominación</th>
							<th>Compromisos</th>
							<th>Fórmulas</th>
							<th>Indicadores<br />{{anualidad.label}}</th>
							<th>Planes de mejora<br />{{anualidad.label}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="entidadobjeto in entidades | orderBy:'expediente' " style="border-top:solid 2px black">
							<td class="text-center" style="white-space: nowrap;">{{entidadobjeto.expediente}}</td>
							<td><strong>{{entidadobjeto.denominacion}}</strong></td>
							<td class="text-center">{{ objetivos[entidadobjeto._id] ? objetivos[entidadobjeto._id] : 0 }}</td>
							<td class="text-center"> {{formulas[entidadobjeto._id] ? formulas[entidadobjeto._id].formsok : 0}}/{{formulas[entidadobjeto._id] ? formulas[entidadobjeto._id].forms : 0}}</td>
							<td class="text-center">{{getIndicadoresStats(entidadobjeto.idjerarquia, anualidad.value)}}/{{indicadores[ entidadobjeto.idjerarquia ].length}}</td>
							<td class="text-center">{{acciones[anualidad.label][ entidadobjeto._id ] ? acciones[anualidad.label][ entidadobjeto._id ] : 0 }}</td>
						</tr>
						<tr ng-repeat-end>
							<td class="text-center"><i class="fa fa-2" ng-class="{'fa-check-square-o': entidadobjeto.idjerarquia && entidadobjeto.expediente, 'fa-square-o': !(entidadobjeto.idjerarquia && entidadobjeto.expediente) }"></i></td>
							<td>
								<strong>{{entidadobjeto.idjerarquia}}</strong>: {{ jerarquias ['' + entidadobjeto.idjerarquia].nombrelargo }}
							</td>
							<td class="text-center"><i class="fa" ng-class="{'fa-check-square-o': objetivos[entidadobjeto._id], 'fa-square-o': !objetivos[entidadobjeto._id]}"></i></td>
							<td class="text-center"><i class="fa" ng-class="{
							'fa-square-o': !formulas[entidadobjeto._id],
							'fa-check-square-o': formulas[entidadobjeto._id] && formulas[entidadobjeto._id].forms === formulas[entidadobjeto._id].formsok,
							'fa-check-square': formulas[entidadobjeto._id] && formulas[entidadobjeto._id].forms !== formulas[entidadobjeto._id].formsok }"></td>
							<td class="text-center"><i class="fa" ng-class="{
							'fa-square-o': indicadores[entidadobjeto.idjerarquia].length === 0,
							'fa-check-square-o': indicadores[entidadobjeto.idjerarquia].length > 0 && indicadores[entidadobjeto.idjerarquia].length === getIndicadoresStats(entidadobjeto.idjerarquia, anualidad.value),
							'fa-check-square': indicadores[entidadobjeto.idjerarquia].length > 0 && indicadores[entidadobjeto.idjerarquia].length !== getIndicadoresStats(entidadobjeto.idjerarquia, anualidad.value) }"></td>
							<td class="text-center"><i class="fa" ng-class="{'fa-check-square-o': acciones[anualidad.label][ entidadobjeto._id ] > 0, 'fa-square-o': acciones[anualidad.label][ entidadobjeto._id ] === 0}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--
<li>
						[<strong>{{entidadobjeto.expediente}}</strong>] {{entidadobjeto.denominacion}} Objetivos: {{ getCount(entidadobjeto._id) }}. Fórmulas: {{getFormulasStats(entidadobjeto._id) }}
						<br />
						 <strong>{{entidadobjeto.idjerarquia}}</strong>: {{ jerarquias ['' + entidadobjeto.idjerarquia].nombrelargo }}
						 <hr />
					</li>

					-->