<div class="row hidden-print">
	<div class="col-md-12">
		<h3>Informes</h3>
		<div class="{{clasefuncionalidades}}" ng-repeat="funcionalidad in funcionalidades">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">{{funcionalidad.label}}</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<button ng-class="{disabled: actualizando > 0}" ng-repeat="fn in funcionalidad.fn" class="btn btn-default" ng-click="invoke(fn.cmd, $root.getIntAnualidad())">{{fn.label}}</button>
						<span ng-if="funcionalidad.selectanyo" style="margin-left:2em">
							<strong>Anualidad:</strong> {{$root.getIntAnualidad()}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<p ng-if="actualizando > 0">Generando informe...</p>
		<div class="alert {{respuesta.clase}}" role="alert" ng-repeat="respuesta in respuestas">{{respuesta.mensaje}}</div>
	</div>
</div>

<div class="row" ng-if="arbol.length > 0">
	<div class="left hidden-print nga-default nga-slide-left col-lg-5 col-md-5 col-sm-5 col-xs-12 animated" ng-hide="oculto" ng-class="{'col-lg-5': !oculto, 'hidden': oculto}">
		<organismos otitle="'Organismos'" arbol="arbol" tipoelementos="''" attr="'numprocedimientos'" setseleccionado="setSeleccionado" seleccionado="seleccionado" filtro="filtro"></organismos>
	</div>

	<div ng-class="{'col-lg-7': !oculto, 'col-lg-12': oculto}" class="right animated" id="detallesjerarquia" ng-if="seleccionado">
		<table class="table table-striped table-bordered table-hover" id="procedimientostable" ng-if="tienePermiso(seleccionado)"  ng-class="{'table-condensed': $root.condensed}">
			<caption ng-click="mutextoculto()" class="cursor hidden-print">
				<span class="glyphicon glyphicon-fullscreen pull-right"></span>
				<h2>{{seleccionado.title}}</h2>
			</caption>
			<thead>
				<tr>
					<th><span class="hidden-print">Pulse para seleccionar una jerarquía más específica</span></th>
					<th class="cursor" colspan="{{columnasocultas ? 1 : 3}}" ng-class="{'warning': detallado.id==seleccionado.id}">{{seleccionado.title}}</th>
					<th class="cursor" colspan="{{columnasocultas ? 1 : 3}}" ng-repeat="nodo in seleccionado.nodes" ng-click="setSeleccionado(nodo)" ng-class="{'warning': detallado.id==nodo.id}">{{nodo.title}}</th>
				</tr>
			</thead>
			<tfoot class="hidden-print">
				<tr>
					<th><span class="hidden-print">Pulse en esta fila para ver los detalles por meses <span ng-click="$root.exportXLS('procedimientostable','informegeneral')" class="pull-right glyphicon glyphicon-floppy-disk"></span></span></th>
					<th class="cursor" colspan="{{columnasocultas ? 1 : 3}}" ng-click="setDetallado(seleccionado)" ng-class="{'warning': detallado.id==seleccionado.id}">{{seleccionado.title}}</th>
					<th class="cursor" colspan="{{columnasocultas ? 1 : 3}}" ng-repeat="nodo in seleccionado.nodes" ng-click="setDetallado(nodo)" ng-class="{'warning': detallado.id==nodo.id}">{{nodo.title}}</th>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th>N&ordm; de procedimientos</th>
					<td colspan="{{columnasocultas ? 1 : 3}}" style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}" >
						<a href="/actividad/{{seleccionado.id}}" class="hidden-print">{{seleccionado.numprocedimientos}}</a>
						<span class="visible-print-inline">{{seleccionado.numprocedimientos}}</span>
					</td>
					<td colspan="{{columnasocultas ? 1 : 3}}" ng-repeat="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">
						<a href="/actividad/{{nodo.id}}" class="hidden-print">{{nodo.numprocedimientos}}</a>
						<span class="visible-print-inline">{{nodo.numprocedimientos}}</span>
					</td>
				</tr>
				<tr>
					<th>N&ordm; de procedimientos con datos en {{$root.getIntAnualidad()}}</th>
					<td colspan="{{columnasocultas ? 1 : 3}}" style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{fnGetStatsNode(seleccionado.id, $root.getIntAnualidad()).value.numProcedimientosConSolicitudes}}</td>
					<td colspan="{{columnasocultas ? 1 : 3}}" ng-repeat="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{fnGetStatsNode(nodo.id, $root.getIntAnualidad()).value.numProcedimientosConSolicitudes}}</td>
				</tr>
				<tr>
					<th>N&ordm; de procedimientos con datos en {{$root.getIntAnualidad() + 1}}</th>
					<td colspan="{{columnasocultas ? 1 : 3}}" style="text-align:right" data-node-id="{{seleccionado.id}}" ng-class="{'warning': detallado.id==seleccionado.id}">{{fnGetStatsNode(seleccionado.id, $root.getIntAnualidad() + 1).value.numProcedimientosConSolicitudes}}</td>
					<td colspan="{{columnasocultas ? 1 : 3}}" ng-repeat="nodo in seleccionado.nodes" style="text-align:right" data-node-id="{{nodo.id}}" ng-class="{'warning': detallado.id==nodo.id}">{{fnGetStatsNode(nodo.id, $root.getIntAnualidad() + 1).value.numProcedimientosConSolicitudes}}</td>
				</tr>
				<tr class="info">
					<th>AÑO {{$root.getIntAnualidad() - 1}}</th>
					<th style="text-align:center" ng-class="{'warning': detallado.id==seleccionado.id}">TOTALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">MEDIAS MENSUALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></th>
					<th style="text-align:center" ng-repeat-start="nodo in seleccionado.nodes" ng-class="{'warning': detallado.id==nodo.id}">TOTALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">MEDIAS MENSUALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></th>
				</tr>
				<tr>
					<th>Resueltos en {{$root.getIntAnualidad() - 1}} totales</th>
					<th style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{getTotales(seleccionado.id, $root.getIntAnualidad() - 1, 'total_resueltos') | number}}</th>
					<th ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">{{(getTotales(seleccionado.id, $root.getIntAnualidad() - 1, 'total_resueltos')/12)| number:2}}</th>
					<th ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></th>
					<th ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{getTotales(nodo.id, $root.getIntAnualidad() - 1, 'total_resueltos') | number}}</th>
					<th ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">{{(getTotales(nodo.id, $root.getIntAnualidad() - 1, 'total_resueltos')/12)| number:2}}</th>
					<th ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></th>
				</tr>
				<tr class="info">
					<th>AÑO {{$root.getIntAnualidad() }}</th>
					<th style="text-align:center" ng-class="{'warning': detallado.id==seleccionado.id}">TOTALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">MEDIAS MENSUALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></th>
					<th style="text-align:center" ng-repeat-start="nodo in seleccionado.nodes" ng-class="{'warning': detallado.id==nodo.id}">TOTALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">MEDIAS MENSUALES</th>
					<th style="text-align:center" ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></th>
				</tr>
				<tr>
					<th>Solicitados</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{getTotales(seleccionado.id, $root.getIntAnualidad(), 'solicitados') | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">{{(getTotales(seleccionado.id, $root.getIntAnualidad(), 'solicitados')/12)| number:2}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{getTotales(nodo.id, $root.getIntAnualidad(), 'solicitados') | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">{{(getTotales(nodo.id, $root.getIntAnualidad(), 'solicitados')/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr>
					<th>Iniciados</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{getTotales(seleccionado.id, $root.getIntAnualidad(), 'iniciados') | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">{{(getTotales(seleccionado.id, $root.getIntAnualidad(), 'iniciados')/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{getTotales(nodo.id, $root.getIntAnualidad(), 'iniciados') | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">{{(getTotales(nodo.id, $root.getIntAnualidad(), 'iniciados')/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr>
					<th>Resueltos totales</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{getTotales(seleccionado.id, $root.getIntAnualidad(), 'total_resueltos') | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">{{(getTotales(seleccionado.id, $root.getIntAnualidad(), 'total_resueltos')/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{getTotales(nodo.id, $root.getIntAnualidad(), 'total_resueltos')|number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}"></td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr>
					<th>{{'t_medio_habiles' | translate }}</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{fnGetStatsNode(seleccionado.id, $root.getIntAnualidad()).value['t_medio_habiles_anual'].avg |number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{fnGetStatsNode(nodo.id, $root.getIntAnualidad()).value['t_medio_habiles_anual'].avg |number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}"></td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr>
					<th>{{'t_medio_naturales' | translate }}</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{fnGetStatsNode(seleccionado.id, $root.getIntAnualidad()).value['t_medio_naturales_anual'].avg | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{fnGetStatsNode(nodo.id, $root.getIntAnualidad()).value['t_medio_naturales_anual'].avg | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}"></td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr>
					<th>Pendientes (a final de periodo= ultimos pendientes)</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{fnGetStatsNode(seleccionado.id, $root.getIntAnualidad()).value.pendientes[11]| number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{fnGetStatsNode(nodo.id, $root.getIntAnualidad()).value.pendientes[11]  | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}"></td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
				<tr ng-repeat="campo in campos">
					<th>{{campo | translate}}</th>
					<td style="text-align:right" ng-class="{'warning': detallado.id==seleccionado.id}">{{getTotales(seleccionado.id, $root.getIntAnualidad(), campo) | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}">{{(getTotales(seleccionado.id, $root.getIntAnualidad(), campo)/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==seleccionado.id}"></td>
					<td ng-repeat-start="nodo in seleccionado.nodes" style="text-align:right" ng-class="{'warning': detallado.id==nodo.id}">{{getTotales(nodo.id, $root.getIntAnualidad(), campo) | number}}</td>
					<td ng-if="!columnasocultas" ng-class="{'warning': detallado.id==nodo.id}">{{(getTotales(nodo.id, $root.getIntAnualidad(), campo)/12) | number:2}}</td>
					<td ng-if="!columnasocultas" ng-repeat-end ng-class="{'warning': detallado.id==nodo.id}"></td>
				</tr>
			</tbody>
		</table>
		<p><button class="button btn  hidden-print" ng-click="mostrarcolumnasocultas()">Mostrar columnas ocultas</button></p>
		<div ng-class="{'col-lg-7': !oculto, 'col-lg-12': oculto}" class="right animated" id="detallesNodo" ng-If="detallado">
			<table class="table table-striped table-bordered table-hover full" id="detallestable" ng-class="{'table-condensed': $root.condensed}">
				<caption><h3>{{detallado.title}}</h3> {{$root.getIntAnualidad()}}</caption>
				<thead>
					<tr>
						<th>Indicador</th>
						<th ng-repeat="mes in $root.meses">{{mes}}</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th colspan="13">
							<span ng-click="$root.exportXLS('detallestable', 'informe_mensual')" class="pull-right glyphicon glyphicon-floppy-disk"></span>
						</th>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th>Solicitados</th>
						<td ng-repeat="valor in fnGetStatsNode(detallado.id, $root.getIntAnualidad(), campo).value['solicitados'] track by $index" style="text-align:right">{{ valor | number}}</td>
				   </tr>
					<tr>
						<th>Iniciados</th>
						<td ng-repeat="valor in fnGetStatsNode(detallado.id, $root.getIntAnualidad(), campo).value['iniciados'] track by $index" style="text-align:right">{{ valor | number}}</td>
					</tr>
					<tr>
						<th>Resueltos totales</th>
						<td ng-repeat="valor in fnGetStatsNode(detallado.id, $root.getIntAnualidad(), campo).value['total_resueltos'] track by $index" style="text-align:right">{{ valor | number}}</td>
					</tr>
					<tr ng-repeat="campo in campos.concat(['t_medio_habiles','t_medio_naturales'])">
						<th>{{campo | translate}}</th>
						<td ng-repeat="valor in fnGetStatsNode(detallado.id, $root.getIntAnualidad(), campo).value[campo] track by $index" style="text-align:right">{{ valor | number}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<style>
.full  { width:100%;}
</style>