<div style="background-repeat:no-repeat; background-size:cover; background-position:center center" class="login">
	<div id="logincontainer" class="loginContainer">
		<h1>Identificaci&oacute;n</h1>
		<form name="loginForm" ng-submit="login(credentials)" novalidate="novalidate">
			<label for="username" class="form-label">
				<input id="username" autocomplete="on" type="text" name="username" placeholder="Usuario" ng-model="credentials.username" class="topcoat-text-input full"/>
			</label>
			<label for="password" class="form-label">
				<input id="password" autocomplete="off" type="password" name="password" placeholder="Contraseña" ng-model="credentials.password" class="topcoat-text-input full"/>
			</label>
			<div>
				<button style="text-align: center;" class="topcoat-button full text-center">Entrar				</button>
			</div>
		</form>
		<p style="text-align:center" ng-if="mensaje" class="alert alert-danger">{{mensaje}}</p>
	</div>
	<div style="position:absolute; bottom:1em;right:1em; width:350px; height:350px;{{imagen}};background-repeat:no-repeat; background-size:contain; background-position:center center"></div>
	<h3>Guía de Procedimientos y Servicios</h3>
</div>
<div style="clear:both"></div>
