
<style type="text/css">
<!--
	.tree_leaft_crud {
		font-style:italic;
	}
	.tree_leaft_crud_tools {
		
	}
	a.addPermiso {
		background-color:green;
		color:white;
	}
	
	a.addPermiso:hover {
		background-color:white;
		color:green;
	}-->
</style>
<div ng-controller="PermisoCtrl" class="row">
<div ng-class="{'col-lg-5': !oculto, 'hidden': oculto}" class="left animated">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				  <autocomplete class="form-control" ng-class="form-control" ng-model="persona_o_plaza" attr-placeholder="Buscar usuario por login o plaza..." click-activation="true" data="personas_plazas" on-select="showDetailsPermiso" ></autocomplete> 						
				</div>				
			</div>
		</div>
		<br/>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Organismos
				</h3>
			</div>
			<div class="panel-body">			
				<input type="text" ng-model="texto.$" placeholder="Filtro" style="margin-bottom:1em" class="form-control"/>
				<ul ng-if="arbol.length" style="padding-left:0.6em">
					<li ng-repeat="element in arbol |filter:texto| filter:filtrojerarquia" ng-class="{'list-group-item-warning':element.id==seleccionado.id}">
						<p>
						<strong>
							[{{element.id}}] &nbsp;
						</strong>
						<span ng-click="setSeleccionado(element)" class="cursor"  title="Engloba {{element.numprocedimientos}} procedimientos">
							{{element.title}} 
						</span>
						<span class="badge pull-right">{{element.numprocedimientos}}</span>
						</p>
						<ul class="list-group" ng-if="element.nodes" style="clear:both">
							<li class="list-group-item" ng-repeat="elemen in element.nodes |filter:texto | filter:filtrojerarquia" ng-class="{'list-group-item-danger':elemen.id==seleccionado.id}">
							<p>
								<strong>
									[{{elemen.id}}] &nbsp;
								</strong>
								<span ng-click="setSeleccionado(elemen)" class="cursor" title="Engloba {{elemen.numprocedimientos}} procedimientos">
									{{elemen.title}} 
								</span>
								<span class="badge pull-right">{{elemen.numprocedimientos}}</span>
								</p>
								<ul ng-if="elemen.nodes" style="clear:both">
									<li ng-repeat="eleme in elemen.nodes |filter:texto |filter:filtrojerarquia"  ng-class="{'list-group-item-danger':eleme.id==seleccionado.id}" >
									<p>
										<strong>
											[{{eleme.id}}] &nbsp;
										</strong>
										<span ng-class="{'bg-danger':eleme.id==seleccionado.id }" ng-click="setSeleccionado(eleme)" class="cursor" title="Engloba {{eleme.numprocedimientos}} procedimientos">
											{{eleme.title}} 
										</span>										
										<!--<span class="badge alert-success pull-right">
											<a href="#" ng-click="addPermiso(eleme)" class="addPermiso">
												<span class="glyphicon glyphicon glyphicon-plus-sign" ></span>
											</a>
										</span>-->
										<span class="badge pull-right">{{eleme.numprocedimientos}}</span>
										</p>
										<ul ng-if="eleme.nodes" style="clear:both">
											<li ng-repeat="elem in eleme.nodes |filter:texto |filter:filtrojerarquia">
											<p>
												<strong>
													[{{elem.id}}] &nbsp;
												</strong>
												<span ng-class="{'bg-danger':elem.id==seleccionado.id }" ng-click="setSeleccionado(elem)" class="cursor"  title="Engloba {{elem.numprocedimientos}} procedimientos">
													{{elem.title}} 
												</span>
												<span class="badge pull-right">{{elem.numprocedimientos}}</span>
												</p>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="show_details_permiso">
		<table class="table table-striped table-bordered table-condensed table-hover">
			<thead></thead>
			<tbody>Detalles de los permisos del usuario/plaza seleccionados. TO DO.</tbody>
			<tfoot></tfoot>
		</table>
	</div>
	<div ng-class="{'col-lg-7': !oculto, 'col-lg-12': oculto}" class="right animated" ng-if="!show_details_permiso">
		<table class="table table-striped table-bordered table-condensed table-hover">
			<caption>Permisos</caption>
			<thead>
				<tr>
					<th colspan="{{ !is_show_recursive_users ? 8 : 9 }}">
						<div class="btn-group pull-right">
							<button ng-class="{}" class="btn btn-default" ng-click="searchUser()" title="Buscar los permisos de un usuario o plaza">
								<span class="glyphicon glyphicon-search"></span>
							</button>								
							<button ng-class="{}" class="btn btn-default" ng-click="addPermiso()" title="Añadir permiso sobre la jerarquía seleccionada">
								<span class="glyphicon glyphicon-plus"></span>
							</button>								
							<button ng-class="{'btn-danger':listadetalle,'btn-default':!listadetalle}" class="btn btn-default" ng-click="show_normal()" title="mostrar nodo actual">
								<span class="glyphicon glyphicon-list"></span>
							</button>	
							<button ng-class="{'btn-danger':listadetalle,'btn-default':!listadetalle}" class="btn btn-default" ng-click="show_recursive_users()" title="mostrar recursivamente permisos nodos inferiores">
								<span class="glyphicon glyphicon-indent-left"></span>
							</button>							
						</div>
					</th>
				</tr>
				<tr ng-if="show_form_add_permiso">
					<th colspan="{{ !is_show_recursive_users ? 8 : 9 }}">
						<autocomplete ng-model="persona_o_plaza" attr-placeholder="Buscar usuario por login o plaza..." click-activation="true" data="personas_plazas" on-type="clearaddpermisoform" on-select="refreshpermisoform" ></autocomplete> 						
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Login carm" ng-model="logincarm">
							<span class="input-group-addon">@carm.es</span>
						</div>
						<input type="text" class="form-control" placeholder="C&oacute;digo plaza" ng-model="plaza">
						<button class="btn btn-default danger" ng-click="crearpermiso"><span>Crear</span></button>
					</th>
				</tr>
				<tr ng-if="show_details_permiso">
					<th colspan="{{ !is_show_recursive_users ? 8 : 9 }}">
						<autocomplete ng-model="persona_o_plaza" attr-placeholder="Buscar usuario por login o plaza..." click-activation="true" data="personas_plazas" on-select="showDetailsPermiso" ></autocomplete> 						
					</th>
				</tr>				
				<tr>
					<th>Usuario</th>
					<th>
						<span class="hidden-sm hidden-xs">Codigo plaza</span>
						<span class="hidden-lg hidden-md">Plaza</span>
					</th>
					<th ng-if="is_show_recursive_users">
						Objeto
					</th>
					<th>
						<span class="visible-lg visible-md hidden-sm hidden-xs">Responsable</span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs">Resp.</span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs">R.</span>
					</th>
					<th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite introducir datos?"> Lectura datos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite introducir datos?"> Lect. datos</span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite introducir datos?"> Lect.</span>
					</th><th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite introducir datos?"> Escribir datos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite introducir datos?"> Escr. datos </span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite introducir datos?"> Escr.</span>
					</th><th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite introducir datos?"> Escribir datos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite introducir datos?"> Escr. datos </span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite introducir datos?"> Escr.</span>
					</th><th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite otorgar permisos?"> Dar permisos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite otorgar permisos?"> Permisos </span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite otorgar permisos?"> Perm.</span>					
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-if="permisos.length || procedimientos.length " >				
				<tr ng-repeat="permiso in permisos" ng-if="permisos.length">
					<td>{{permiso.login}}</td>
					<td>{{permiso.codplaza}}</td>
					<td ng-if="is_show_recursive_users">-</td>
					<td>No</td>
					<td class="color:gray">{{isR(permiso) ? 'Sí' : 'No'}}</td>
					<td>{{isW(permiso) ? 'Sí' : 'No'}}</td>					
					<td>{{isP(permiso) ? 'Sí' : 'No'}}</td>					
					<td>
						<div class="btn-group pull-right">
							<div class="btn btn-xs btn-default" title="Eliminar permiso">
								<span class="glyphicon glyphicon glyphicon-remove" title="Eliminar del todo el permiso"></span>
							</div>	
						<div>
						<!--<div class="btn-group pull-right">
							<div class="btn btn-xs btn-default" title="Editar permiso">
								<span class="glyphicon glyphicon-edit" title="Editar el permiso"></span>
							</div>	
						<div>-->						
					</td>
				</tr>
				<tr ng-repeat="procedimiento in procedimientos" class="responsable">
					<td>
						<span style="font-size:smaller" class="badge" ng-repeat="r in procedimiento.responsables" ng-if="procedimiento.responsables && procedimiento.cod_plaza" title="{{r.nombre}} {{r.apellidos}}">
							{{r.login}} &nbsp;&nbsp;
						</span>
						<span style="font-size:smaller" class="badge alert-warning" ng-if="!procedimiento.responsables  && procedimiento.cod_plaza"><i>No disponible</i></span>
					</td>
					<td>{{procedimiento.cod_plaza}}</td>
					<td ng-if="is_show_recursive_users">{{procedimiento.codigo}}</td>
					<td>Sí</td>
					<td>-</td>
					<td>-</td>					
					<td>-</td>					
					<td>
						<div class="btn-group pull-right">
							<div class="danger btn btn-xs btn-default" title="Eliminar permiso">
								<span class="glyphicon glyphicon glyphicon-remove" title="Eliminar el permiso sobre el elemento de la estructura orgánica seleccionada"></span>
							</div>	
						<div>
					</td>				
				</tr>				
			</tbody>
			<tbody ng-if="!permisos.length && !procedimientos.length">
				<tr>
					<td ng-if="is_show_recursive_users" colspan="9">
						No hay permisos asignados a este nivel de jerarquía o en los descendientes.
					</td>				
					<td ng-if="!is_show_recursive_users" colspan="8">
						No hay permisos asignados a este nivel de jerarquía.
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

