
<style type="text/css">
<!--
	.tree_leaft_crud {
		font-style:italic;
	}
	.tree_leaft_crud_tools {
		
	}
	a.addPermiso {
		background-color:green;
		color:white;
	}
	
	a.addPermiso:hover {
		background-color:white;
		color:green;
	}-->
</style>
<div ng-controller="PermisoCtrl" class="row">
<div ng-class="{'col-lg-5': !oculto, 'hidden': oculto}" class="left animated">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<div class="input-group">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				  <autocomplete class="form-control" ng-class="form-control" ng-model="persona_o_plaza" attr-placeholder="Buscar usuario por login o plaza..." click-activation="true" data="personas_plazas" on-select="showDetailsPermiso" ></autocomplete> 						
				</div>				
			</div>
		</div>
		<br/>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Organismos
				</h3>
			</div>
			<div class="panel-body">			
				<input type="text" ng-model="texto.$" placeholder="Filtro" style="margin-bottom:1em" class="form-control"/>
				<ul ng-if="arbol.length" style="padding-left:0.6em">
					<li ng-repeat="element in arbol |filter:texto| filter:filtrojerarquia" ng-class="{'list-group-item-warning':element.id==seleccionado.id}">
						<p>
						<strong>
							[{{element.id}}] &nbsp;
						</strong>
						<span ng-click="setSeleccionado(element)" class="cursor"  title="Engloba {{element.numprocedimientos}} procedimientos">
							{{element.title}} 
						</span>
						<span class="badge pull-right">{{element.numprocedimientos}}</span>
						</p>
						<ul ng-if="element.id == seleccionado.id" class="bg-warning organica_proc">
							<li ng-repeat="proc in element.procedimientos | filter:texto " ng-show="element.id == seleccionado.id" class="organica_proc list-group-item-warning">
								<p>
									<strong>
										[{{proc.codigo}}] &nbsp;
									</strong>
									<span ng-class="{'bg-warning':element.id==seleccionado.id }" ng-click="setProcSeleccionado(proc)" class="cursor">
										{{proc.denominacion}} 
									</span>
								</p>
							</li>											
							
							<li ng-if="!element.procedimientos"><i>Cargando...</i></li>
						</ul>						
						<ul class="list-group" ng-if="element.nodes" style="clear:both">
							<li class="list-group-item" ng-repeat="elemen in element.nodes |filter:texto | filter:filtrojerarquia" ng-class="{'list-group-item-danger':elemen.id==seleccionado.id}">
							<p>
								<strong>
									[{{elemen.id}}] &nbsp;
								</strong>
								<span ng-click="setSeleccionado(elemen)" class="cursor" title="Engloba {{elemen.numprocedimientos}} procedimientos">
									{{elemen.title}} 
								</span>
								<span class="badge pull-right">{{elemen.numprocedimientos}}</span>
								<ul ng-if="elemen.id == seleccionado.id" class="bg-warning organica_proc">
								</p>
									<li ng-repeat="proc in elemen.procedimientos | filter:texto " ng-show="elemen.id == seleccionado.id" class="organica_proc list-group-item-warning">
										<p>
											<strong>
												[{{proc.codigo}}] &nbsp;
											</strong>
											<span ng-class="{'bg-warning':elemen.id==seleccionado.id }" ng-click="setProcSeleccionado(proc)" class="cursor">
												{{proc.denominacion}} 
											</span>
										</p>
									</li>											
									
									<li ng-if="!elemen.procedimientos"><i>Cargando...</i></li>
								</ul>								
								<ul ng-if="elemen.nodes" style="clear:both">
									<li ng-repeat="eleme in elemen.nodes |filter:texto |filter:filtrojerarquia"  ng-class="{'list-group-item-danger':eleme.id==seleccionado.id}" >
									<p>
										<strong>
											[{{eleme.id}}] &nbsp;
										</strong>
										<span ng-class="{'bg-danger':eleme.id==seleccionado.id }" ng-click="setSeleccionado(eleme)" class="cursor" title="Engloba {{eleme.numprocedimientos}} procedimientos">
											{{eleme.title}} 
										</span>										
										<!--<span class="badge alert-success pull-right">
											<a href="#" ng-click="addPermiso(eleme)" class="addPermiso">
												<span class="glyphicon glyphicon glyphicon-plus-sign" ></span>
											</a>
										</span>-->
										<span class="badge pull-right">{{eleme.numprocedimientos}}</span>
										</p>
											<ul ng-if="eleme.id == seleccionado.id" class="bg-warning organica_proc">
													<li ng-repeat="proc in eleme.procedimientos | filter:texto " ng-show="eleme.id == seleccionado.id" class="organica_proc list-group-item-warning">
														<p>
															<strong>
																[{{proc.codigo}}] &nbsp;
															</strong>
															<span ng-class="{'bg-warning':eleme.id==seleccionado.id }" ng-click="setProcSeleccionado(proc)" class="cursor">
																{{proc.denominacion}} 
															</span>
														</p>
													</li>											
													
													<li ng-if="!eleme.procedimientos"><i>Cargando...</i></li>
												</ul>										
										<ul ng-if="eleme.nodes" style="clear:both">
											<li ng-repeat="elem in eleme.nodes |filter:texto |filter:filtrojerarquia" ng-class="{'list-group-item-danger':elem.id==seleccionado.id}">
											<p>
												<strong>
													[{{elem.id}}] &nbsp;
												</strong>
												<span ng-class="{'bg-danger':elem.id==seleccionado.id }" ng-click="setSeleccionado(elem)" class="cursor"  title="Engloba {{elem.numprocedimientos}} procedimientos">
													{{elem.title}} 
												</span>
												<span class="badge pull-right">{{elem.numprocedimientos}}</span>
											</p>
												
												<ul ng-if="elem.id == seleccionado.id" class="bg-warning organica_proc">
													<li ng-repeat="proc in elem.procedimientos | filter:texto " ng-show="elem.id == seleccionado.id" class="organica_proc list-group-item-warning">
														<p>
															<strong>
																[{{proc.codigo}}] &nbsp;
															</strong>
															<span  ng-click="setProcSeleccionado(proc)" class="cursor">
																{{proc.denominacion}} 
															</span>
														</p>
													</li>											
													<li ng-if="elem.procedimientos && !elem.procedimientos.length"><i>No hay procedimientos</i></li>
													<li ng-if="!elem.procedimientos"><i>Cargando...</i></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="show_details_permiso">
		<table class="table table-striped table-bordered table-condensed table-hover">
			<thead></thead>
			<tbody>Detalles de los permisos del usuario/plaza seleccionados. TO DO.</tbody>
			<tfoot></tfoot>
		</table>
	</div>
	<div ng-class="{'col-lg-7': !oculto, 'col-lg-12': oculto}" class="right animated" ng-if="!show_details_permiso">
		<table class="table table-striped table-bordered table-condensed table-hover">
			<caption>Permisos</caption>
			<thead>
				<tr>
					<th colspan="{{ !is_show_recursive_users && !procedimientos.length ? 7 : 8 }}">
						<div class="btn-group pull-right">
							<button ng-class="{}" class="btn btn-default" ng-click="searchUser()" title="Buscar los permisos de un usuario o plaza">
								<span class="glyphicon glyphicon-search"></span>
							</button>								
							<button ng-class="{}" class="btn btn-default" ng-click="addPermiso()" title="Añadir permiso sobre la jerarquía seleccionada">
								<span class="glyphicon glyphicon-plus"></span>
							</button>								
							<button ng-class="{'btn-danger':!is_show_recursive_users && !is_show_inherited_users,'btn-default':is_show_recursive_users || is_show_inherited_users}" class="btn btn-default" ng-click="show_normal()" title="Mostrar todos los usuarios con permiso explítico sobre el elemento actual">
								<span class="glyphicon glyphicon-arrow-right"></span>
							</button>	
							<button ng-class="{'btn-danger':is_show_recursive_users,'btn-default':!is_show_recursive_users}" class="btn btn-default" ng-click="show_recursive_users()" title="Mostrar recursivamente permisos sobre elementos que dependan jerárquicamente del elemento actual">
								<span class="glyphicon glyphicon-import"></span>
							</button>			
							<button ng-class="{'btn-danger':is_show_inherited_users,'btn-default':!is_show_inherited_users}" class="btn btn-default" ng-click="show_inherited_users()" title="Mostrar todos los usuarios con permiso sobre el elemento actual">
								<span class="glyphicon glyphicon-export"></span>
							</button>										
						</div>
					</th>
				</tr>				
				<p ng-bing="login"></p>
				<tr ng-if="show_form_add_permiso">
					<th colspan="{{ !is_show_recursive_users && !procedimientos.length? 7 : 8 }}" class="form-container">						
						<form name="nuevousuario-form" id="nuevousuario-form">
							<label for="login"  style="width:100%">
								<div class="input-group">
									<input type="text" name="login" class="form-control" placeholder="Login carm" ng-model="logincarm" />
									<span class="input-group-addon">@carm.es</span>
								</div>
							</label>
							<br/>
							<label for="plaza" style="width:100%">
								<input type="text" name="plaza" class="form-control" placeholder="C&oacute;digo plaza" ng-model="plaza" />
							</label>
							<br/>
							<label name="grantoption"  >
								<input type="checkbox" ng-model="grantoption" name="grantoption" /> Puede conceder permisos
							</label>
							<br/>
							<label name="grantoption"  >
								<input type="checkbox" ng-model="w_option" name="w_option" /> Puede introducir datos
							</label>
							<br class="clear"/>
							<button class="btn btn-default danger" ng-click="crearpermiso()"><span>Crear</span></button>								
						</form>
					</th>
				</tr>
				<tr ng-if="show_details_permiso">
					<th colspan="{{ !is_show_recursive_users && !procedimientos.length? 7 : 8 }}">

					</th>
				</tr>				
				<tr>
					<th>Usuario</th>
					<th>
						<span class="hidden-sm hidden-xs">Codigo plaza</span>
						<span class="hidden-lg hidden-md">Plaza</span>
					</th>
					<th ng-if="is_show_recursive_users || procedimientos.length">
						Objeto
					</th>
					<th>
						<span class="visible-lg visible-md hidden-sm hidden-xs">Responsable</span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs">Resp.</span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs">R.</span>
					</th>
					<th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite introducir datos?"> Lectura datos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite introducir datos?"> Lect. datos</span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite introducir datos?"> Lect.</span>
					</th><th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite introducir datos?"> Escribir datos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite introducir datos?"> Escr. datos </span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite introducir datos?"> Escr.</span>
					</th><th>
						<span class="visible-lg visible-md hidden-sm hidden-xs" title="¿Permite otorgar permisos?"> Dar permisos </span>
						<span class="hidden-lg hidden-md visible-sm hidden-xs" title="¿Permite otorgar permisos?"> Permisos </span>
						<span class="hidden-lg hidden-md hidden-sm visible-xs" title="¿Permite otorgar permisos?"> Perm.</span>					
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-if="permisos.length || procedimientos.length " >				
				<tr ng-repeat="permiso in permisos" ng-if="permisos.length">
					<td>{{permiso.login}}</td>
					<td>{{permiso.codplaza}}</td>
					<td ng-if="is_show_recursive_users || procedimientos.length">-</td>
					<td><span class="burdeos glyphicon glyphicon-remove"></span></td>
					<td style="color:gray"><span class="glyphicon" ng-class="{'glyphicon-ok':isR(permiso),'glyphicon-remove':!isR(permiso)}"></span></td>
					<td><a ng-click="changeW(permiso)" href=""><span class="glyphicon" ng-class="{'glyphicon-ok green':isW(permiso),'glyphicon-remove burdeos':!isW(permiso)}"></span></a></td>					
					<td><a ng-click="changeP(permiso)" href="" ><span class="glyphicon" ng-class="{'glyphicon-ok green':isP(permiso),'glyphicon-remove burdeos':!isP(permiso)}"></span></a></td>					
					<td>
						<div class="btn-group pull-right">
							<div class="btn btn-xs btn-default" title="Eliminar permiso">
								<span class="glyphicon glyphicon glyphicon-remove" title="Eliminar del todo el permiso" ng-click="eliminarPermiso(permiso)"></span>
							</div>	
						</div>
						<!--<div class="btn-group pull-right">
							<div class="btn btn-xs btn-default" title="Editar permiso">
								<span class="glyphicon glyphicon-edit" title="Editar el permiso"></span>
							</div>	
						<div>-->						
					</td>
				</tr>
				<tr ng-repeat="procedimiento in procedimientos" class="responsable">
					<td>
						<span style="font-size:smaller" class="badge" ng-repeat="r in procedimiento.responsables" ng-if="procedimiento.responsables && procedimiento.cod_plaza" title="{{r.nombre}} {{r.apellidos}}">
							{{r.login}} &nbsp;&nbsp;
						</span>
						<span style="font-size:smaller" class="badge alert-warning" ng-if="!procedimiento.responsables  && procedimiento.cod_plaza"><i>No disponible</i></span>
					</td>
					<td>{{procedimiento.cod_plaza}}</td>
					<td><a href="/admin/procedimiento/{{procedimiento.codigo}}" title="{{procedimiento.codigo}}">[{{procedimiento.codigo}}] <span class="visible-lg visible-md">{{procedimiento.denominacion}}</span></a></td>
					<td><span class="glyphicon glyphicon-ok gray"></span></td>
					<td><span class="glyphicon glyphicon-ok gray"></span></td>
					<td><span class="glyphicon glyphicon-ok gray"></span></td>					
					<td><span class="glyphicon glyphicon-ok gray"></span></td>					
					<td>
						<div class="btn-group pull-right">
							<div class="danger btn btn-xs btn-default" title="Eliminar permiso">
								<span class="glyphicon glyphicon glyphicon-remove" title="Eliminar el permiso sobre el elemento de la estructura orgánica seleccionada" ng-click="eliminarResponable(procedimiento,r)"></span>
							</div>	
						<div>
					</td>				
				</tr>				
			</tbody>
			<tbody ng-if="!permisos.length && !procedimientos.length">
				<tr>
					<td ng-if="is_show_recursive_users" colspan="8">
						No hay permisos asignados a este nivel de jerarquía o en los descendientes.
					</td>				
					<td ng-if="!is_show_recursive_users" colspan="7">
						No hay permisos asignados a este nivel de jerarquía.
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

