<div class="row">
	<div class="col-lg-12">
		<div style="clear:both" class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Título</th>
						<th>Regla</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="inconsistencia in inconsistencias track by $index">
						<th>
							<input ng-model="inconsistencia.titulo" class="form-control" ng-change="cambios[$index]=true"/>
						</th>
						<td>
							<input ng-model="inconsistencia.restriccion" class="form-control" ng-change="cambios[$index]=true" />
						</td>
						<td>
							<button ng-click="actualizar(inconsistencia)" class="btn btn-default" ng-show="cambios[$index]">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button ng-click="eliminar(inconsistencia)" class="btn btn-danger" >
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>