<div class="row">
	<div class="col-md-12">
		<h3 class="text-center">{{meses[mesActual]}} - {{anyoActual}}</h3>
		<div ng-repeat="indicador in indicadores" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a href="/stats" ng-class="{ '{{indicador.bg}}' : true }" class="dashboard-stat dashboard-stat-light">
				<div class="visual">
					<i ng-class="{ '{{indicador.icon}}' : true }" class="fa"></i>
				</div>
				<div class="details">
					<div class="number">{{indicador.number}}</div>
					<div class="desc">{{indicador.descripcion}}</div>
				</div>
			</a>
		</div>
		<div style="margin-top:1em" class="row" >
			<div ng-If="pendientes.length>0" ng-class="{
			'col-md-6' : inconsistencias.length>0 && pendientes.length>0, 'col-sm-6' : inconsistencias.length>0 && pendientes.length>0,
			'col-md-12' : inconsistencias.length==0, 'col-sm-12' : inconsistencias.length==0 }">
				<div class="portlet box yellow">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>
							Procedimientos pendientes de actualización
						</div>
					</div>
					<div class="portlet-body">
						<ul style="max-height:300px; overflow-y:auto; overflow-x:hidden">
							<li ng-repeat="procedimiento in pendientes">
								<a href="/procedimiento/{{procedimiento._id.codigo}}">
									[{{procedimiento._id.codigo}}]
	 								{{procedimiento._id.denominacion}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div ng-If="inconsistencias.length>0" ng-class="{
			'col-md-6' : inconsistencias.length>0 && pendientes.length>0, 'col-sm-6' : inconsistencias.length>0 && pendientes.length>0,
			'col-md-12' : pendientes.length==0, 'col-sm-12' : pendientes.length==0 }">
				<div class="portlet box red">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>
							Procedimientos con errores de inconsistencia
						</div>
					</div>
					<div class="portlet-body">
						<ul style="max-height:300px; overflow-y:auto; overflow-x:hidden">
							<li ng-repeat="procedimiento in inconsistencias">
								<a href="/procedimiento/{{procedimiento._id.codigo}}">
									[{{procedimiento._id.codigo}}]
	 								{{procedimiento._id.denominacion}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-lg-12">
		<div class="col-sm-12 col-md-6 col-lg-6">
		</div>
		<div class="col-sm-6 col-md-2 col-lg-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					Usuario
				</div>
				<div class="panel-body">
					<ul style="list-style: none">
					<li><strong>Usuario:</strong> {{$root.session.login}}</li>
					<li><strong>Nombre:</strong> {{$root.session.nombre}}</li>
					<li><strong>Apellidos:</strong> {{$root.session.apellidos}}</li>
					<li ng-show="$root.session.codplaza"><strong>Código de plaza:</strong> {{$root.session.codplaza}}</li>
				</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Permisos concedidos
				</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="permiso in $root.session.permisos">
							<strong>Comentario:</strong> {{permiso.descripcion}}
							<ul>
								<li ng-show="permiso.login">Asignado por ser usuario con login: {{permiso.login}}.</li>
								<li ng-show="permiso.codplaza">Asignado por ser usuario con login: {{permiso.codplaza}}.</li>
								<li class="label label-default" ng-show="$root.permisoscalculados.superuser">Su usuario tiene capacidades de administrador.</li>
								<li ng-show="permiso.entidadobjetodirectaescritura.length > 0">
								Tiene permiso de escritura sobre
									<span ng-show="permiso.entidadobjetodirectaescritura.length === 1">la carta</span>
									<span ng-show="permiso.entidadobjetodirectaescritura.length > 1">las cartas</span>
									de servicio {{permiso.entidadobjetodirectaescritura}}.
								</li>
								<li ng-show="permiso.jerarquiadirectalectura.length > 0">
								Tiene permiso de lectura sobre
									<span ng-show="permiso.jerarquiadirectalectura.length === 1">el nodo</span>
									<span ng-show="permiso.jerarquiadirectalectura.length > 1">los nodos</span>
									{{permiso.jerarquiadirectalectura}} y sus descendientes.
								</li>
								<li ng-show="permiso.jerarquiadirectaescritura.length > 0">
								Tiene permiso de escritura sobre
									<span ng-show="permiso.jerarquiadirectaescritura.length === 1">el nodo</span>
									<span ng-show="permiso.jerarquiadirectaescritura.length > 1">los nodos</span>
									{{permiso.jerarquiadirectaescritura}} y sus descendientes.
								</li>
								<li ng-show="permiso.grantoption">Puede ceder este permiso a otros usuarios.</li>
								<li ng-show="!permiso.grantoption">No puede ceder este permiso a otros usuarios.</li>
								<li ng-show="permiso.caducidad">Este permiso caduca a fecha {{permiso.caducidad}}</li>
							</ul>
						</li>
					</ul>
					* Los identificadores de jerarquía utilizados son los facilitados por la CARM.
				</div>
			</div>
		</div>
	</div>
</div>

