<div class="row">
	<div class="col-lg-12">
		<h3 class="text-center">{{meses[mesActual]}} - {{anyoActual}}</h3>
		<div ng-repeat="indicador in indicadores" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<a href="/stats" ng-class="{ '{{indicador.bg}}' : true }" class="dashboard-stat dashboard-stat-light">
				<div class="visual">
					<i ng-class="{ '{{indicador.icon}}' : true }" class="fa"></i>
				</div>
				<div class="details">
					<div class="number">{{indicador.number}}</div>
					<div class="desc">{{indicador.descripcion}}</div>
				</div>
			</a>
		</div>
		<div style="margin-top:1em" class="row" >
			<div ng-If="pendientes.length>0" ng-class="{
			'col-md-6' : inconsistencias.length>0 && pendientes.length>0, 'col-sm-6' : inconsistencias.length>0 && pendientes.length>0,
			'col-md-12' : inconsistencias.length==0, 'col-sm-12' : inconsistencias.length==0 }">
				<div class="portlet box yellow">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>
							Procedimientos pendientes de actualización
						</div>
					</div>
					<div class="portlet-body">
						<ul style="max-height:300px; overflow-y:auto; overflow-x:hidden">
							<li ng-repeat="procedimiento in pendientes">
								<a href="/procedimiento/{{procedimiento._id.codigo}}">
									[{{procedimiento._id.codigo}}]
	 								{{procedimiento._id.denominacion}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div ng-If="inconsistencias.length>0" ng-class="{
			'col-md-6' : inconsistencias.length>0 && pendientes.length>0, 'col-sm-6' : inconsistencias.length>0 && pendientes.length>0,
			'col-md-12' : pendientes.length==0, 'col-sm-12' : pendientes.length==0 }">
				<div class="portlet box red">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-gift"></i>
							Procedimientos con errores de inconsistencia
						</div>
					</div>
					<div class="portlet-body">
						<ul style="max-height:300px; overflow-y:auto; overflow-x:hidden">
							<li ng-repeat="procedimiento in inconsistencias">
								<a href="/procedimiento/{{procedimiento._id.codigo}}">
									[{{procedimiento._id.codigo}}]
	 								{{procedimiento._id.denominacion}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

		